@use '../var';

.infos-bar {
    background-color: var.$textColor;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid var.$textColor;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: var.$secTextColor;

            b {
                font-size: 18px;
                display: block;
                color: var.$secTextColor;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        gap: 16px;
    }
}